body {
    background-image: url(/public/fondopower.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.izquierda {
    position: absolute;
}
.derecha {
    position: absolute;
    right: 0%;
}
.perfil {
    float: left;
    border-radius: 50%;
    width: 180px;
    margin-left: 150px;
    margin-right: 50px;
}
p {
    color: rgb(255, 230, 153);
    font-size: large;
    margin-left: 100px;
    margin-right: 200px;
}
ul {font-size: large;
    margin-left: 250px;
    margin-right: 200px;
    color: rgb(255, 230, 153);
    margin-bottom: 30px;
}
h1 {
    color: rgb(255, 181, 32);
    margin-bottom: 40px;
    text-align:center;
}
h2 { color: rgb(242, 181, 107);
    text-align: center;
}
h4 {
    color: rgb(242, 181, 107);
    margin-left: 250px;
}
h5 {
    color: rgb(255, 230, 153);
    font-size: large;
    margin-left: 250px;
}
.botones { 
    display: flex;
    margin-left: 20%;
    margin-bottom: 20px;
}
.botones a{
    margin: 0 30px;
}
.carousel, .carousel-inner > .item > img {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.gatas1 {
    float: left;
    width: 400px;
}
.gatas2 {
    clear: both;
    height: 533px;
    width: auto;
    margin: 0 1%;
}
.gatas3 {
    float: right;
    width: 400px;
}
